ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
section{
	padding:0;
	margin: 0;
}
.main-content{
	margin:0 auto;
	width: 100%;
}
.about{
	background: url("../img/about-bj.jpg") center center no-repeat;
	background-size: 100% 100%;
	height: 685px;
	padding-top: 10px;
}
.row{
	margin: 0;
	padding: 0;
	height: 92px;
	width: 100%;
	background: #fff;
	line-height: 92px;
	box-shadow:0px 0px  10px 2px #aaa;
}
.fixed{
	padding: 0;
	position:fixed;
	position: 0;
  	_position:absolute;
  	_top:expression(documentElement.scrollTop + "px"); /* 把导航栏位置放在浏览器垂直滚动条的顶端*/
  	z-index:9999; /* 让导航栏浮在网页的高层位置 */
	height: 92px;
	width: 100%;
	background: #fff;
	line-height: 92px;
	box-shadow:0px 0px  10px 2px #aaa;
}
.templatemo-nav a{
	font-size: 14px;
    font-family: '微软雅黑';
	text-decoration: none;
	float: right;
	padding: 0px 24px;
	color: #000;
}
.templatemo-nav a:hover,.templatemo-nav .active{
  background: #d80c18;
  color: #fff; 
}
.about p{
	color: #595757;
}
.title{
	position: relative;
	height: 40px;
    line-height: 40px;
    text-align: center;
    padding:100px 0;
}
.title span{
	font-size: 29.17px;
    font-family: '微软雅黑';
	margin: 0 5px;
	color:#d80c18; 
	font-weight: bold;
}
.title img{
	margin: 16px 30px 22px 30px;
}
.describe{
	padding: 0 200px
}
.describe ul{
	padding: 20px 30px;
}
.describe li{
	list-style-image: url("../img/li.jpg");
}
.describe p{
	font-size: 15px;
	font-family: '微软雅黑';
	margin: 0;
	padding: 0 0 10px;
}
.describe span{
	font-size: 15px;
  	font-family: "Microsoft YaHei";
  	color: rgb(89, 87, 87);
}
.more{
	opacity: 0.5;
	margin: 20px;
	text-align: center;
}
.more button{
	background: #d80c18;
	border: 0px;
	border-radius: 30px;
	width: 120px;
	height: 32px;
	color: #fff;
}
.contact{
	padding-top: 0;
    padding-bottom: 60px;
	text-align: center;
	color: #BDBDBD;
}
.topBtn{
	background: url("../img/topBtn.png") center center no-repeat;
	background-size: 100% 100%;
    bottom: 443px;
    float: right;
    position: relative;
    z-index: 9999;
    width: 50px;
    height: 45px;
}
footer{
	font-size: 13.53px;
	font-family: '微软雅黑';
	opacity: 0.8;
	background: #d80c18;
	height: 35px;
	line-height: 35px;
	color: #fff;
}